streamlit
nltk
scikit-learn
PyPDF2
python-docx
spacy
fastapi
uvicorn
sentence-transformers==2.2.2
torch
passlib==1.7.4
bcrypt==4.0.1
python-jose
python-multipart
numpy
pydantic
--extra-index-url https://download.pytorch.org/whl/cpu